
body{
    background-color: aqua;
    
}
.rar{
     display: flex;
    
    margin: 30px 10px 0 10px;
   height: 600px;
    
    background-color: rgb(0, 174, 186);
    box-shadow: 0px 10px 30px rgb(2, 64, 64) ;
    align-items: center;
  justify-content: space-around;
    border-radius: 15px;
}

