header{
    display: flex;
   
    margin-top: 10px;
    margin: 0 10px;
    height: 100px;
    background-color: rgb(0, 174, 186);
    box-shadow: 0px 12px 25px rgb(2, 64, 64) ;
    align-items: center;
  justify-content: space-around;
    border-radius: 15px;
   
}
.cat{
    width: 150px;
    border: none;
    box-shadow: none;
    background-color: none;
    position: relative;
   left: 30px;
    top: 63px;
    
}
.cat3{
   
    width: 50px;
    border: none;
    box-shadow: none;
    background-color: none;
    position: absolute;
   left: 600px;
    top: 557px;
}
.cat4{
   
    width: 50px;
    border: none;
    box-shadow: none;
    background-color: none;
    position: absolute;
   left: 550px;
    top: 550px;
}
 .cat5{
   
    width: 50px;
    border: none;
    box-shadow: none;
    background-color: none;
    position: absolute;
   left: 550px;
    top: 493px;
}
.cat6{
   
    width: 50px;
    border: none;
    box-shadow: none;
    background-color: none;
    position: absolute;
   left: 495px;
    top: 490px;}



.cat1{
    width: 90px;
    border: none;
    box-shadow: none;
    background-color: none;
    position: absolute;
   left: 1654px;
    top: 12px;
    transform: rotate(-90deg);
}
h1{
    font-size: 50px;
    text-align: center;
font-family: fantasy;
color: rgba(54, 41, 41, 0.982);
text-shadow: 3px 3px 9px;

    
    
}
.input1, .input2, .button {
   display: flex;
   font-size: 12px;
   text-align: center;
   align-items: center;


}
.input1, .input2{
    width: 200px;
    
    
}
.mail, .pass{
    font-size: 12px;
}
.button{
    border-radius: 6px;
    margin-top: 5px;
    background-color: gray;
    color: white;
    position: relative;
    left: 60px;
}

    

   
    
   
    
    
    
